* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e4ded8;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  width: 100%;
}

.recipe-page {
  background-color: white;
  border-radius: 24px;
  max-width: 740px;
}
.recipe-page__recipe-img {
  border-radius: 12px;
  padding: 40px;
  width: 100%;
}
.recipe-page__recipe-title {
  font-family: "Young Serif", serif;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: normal;
  margin: 0 0 24px;
  padding: 0 40px;
}
.recipe-page__recipe-summary {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: normal;
  color: #5f574e;
  padding: 0 40px;
}

.preparation-section {
  background-color: #fff5fa;
  border-radius: 12px;
  padding: 24px;
  margin: 32px 40px;
}
.preparation-section__title {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: 600;
  color: #7b284f;
  margin: 0 0 16px;
}

.preparetion-list {
  margin: 0 24px;
}
.preparetion-list__item {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: normal;
  color: #5f574e;
}
.preparetion-list__item::marker {
  color: #7b284f;
}
.preparetion-list__item:nth-child(2) {
  margin: 8px 0;
}
.preparetion-list__item span {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
}

.section {
  margin: 0 40px;
}
.section__title {
  font-family: "Young Serif", serif;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: normal;
  color: #854632;
  margin: 0 0 24px;
}
.section__summary {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: normal;
  color: #5f574e;
  margin: 0 0 24px;
}

.section-list {
  margin: 0 0 0 18px;
}
.section-list__item {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: normal;
  color: #5f574e;
}
.section-list__item span {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
}
.section-list__item::marker {
  color: #7b284f;
}

hr {
  margin: 32px 0;
}

.nutrition-table {
  border-collapse: collapse;
  width: 100%;
}
.nutrition-table__table-row {
  border-bottom: 1px solid #ccc;
}
.nutrition-table__table-row:last-child {
  border-bottom: none;
}
.nutrition-table__table-element {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: normal;
  color: #5f574e;
  padding: 18px 32px;
}
.nutrition-table__table-element:nth-child(2) {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
  color: #854632;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6svh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .recipe-page {
    max-width: 620px;
  }
}
@media screen and (max-width: 375px) {
  .recipe-page {
    max-width: 375px;
  }
  .recipe-page__recipe-img {
    position: relative;
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
