@import "./variables";
@import "./mixins";

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $stone100;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    width: 100%;
}

.recipe-page {
    background-color: $white;
    border-radius: 24px;
    max-width: 740px;
    &__recipe-img {
        border-radius: 12px;
        margin: 40px 40px 0;
        img {
            border-radius: 12px;
            width: 100%;
        }
    }
    &__recipe-title {
        @include typography(young-serif-prime);
        margin: 40px 40px 0;
    }
    &__recipe-summary {
        @include typography(outfit-regular);
        color: $stone600;
        margin: 24px 40px 0;
    }
}

.preparation-section {
    background-color: $rose50;
    border-radius: 12px;
    padding: 24px;
    margin: 32px 40px 0;
    &__title {
        @include typography(outfit-semibold);
        color: $rose800;
        margin: 0 0 16px;
    }
}

.preparetion-list {
    margin: 0 24px;
    &__item {
        @include typography(outfit-regular);
        color: $stone600;
        &::marker{
            color: $rose800;
        }
        &:nth-child(2) {
            margin: 8px 0;
        }
        span {
            @include typography(outfit-bold);
        }
    }
}

.section {
    border-bottom: 1px solid $stone150;
    margin: 0 40px;
    padding: 0 0 32px;
    &__title {
        @include typography(young-serif-regular);
        color: $brown800;
        margin: 32px 0 24px;
    }
    &__summary {
        @include typography(outfit-regular);
        color: $stone600;
        margin: 0 0 24px;
    }
    &:last-child {
        border-bottom: none;
        padding: 0 0 40px;
    }
}

.section-list {
    margin: 0 0 0 18px;
    &__item {
        @include typography(outfit-regular);
        color: $stone600;
        span {
            @include typography(outfit-bold);
        }
        &::marker{
            color: $rose800;
        }
    }
}

hr {
    margin: 32px 0;
}

.nutrition-table {
    border-collapse: collapse;
    width: 100%;
&__table-row {
    border-bottom: 1px solid #ccc;
    &:last-child {
        border-bottom: none;
    }
}
&__table-element{
    @include typography(outfit-regular);
    color: $stone600;
    padding: 18px 32px;
    &:nth-child(2) {
        @include typography(outfit-bold);
        color: $brown800;
    }
}
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6svh;
    width: 100%;
}

@import "./_mediaQuery";